SUPABASE_URL=https://exwvavqkjrnprbyknoih.supabase.co
SUPABASE_ANON_KEY=sb_publishable_oSOSFX6pWahlttNUbXHIBg_6irKUXcP
API_URL=https://hamkei62.onrender.com
GOOGLE_WEB_CLIENT_ID=548020841452-cvtj4vs047g5acgtsmga02990tfagvg4.apps.googleusercontent.com
ZEGO_APP_ID=0
ZEGO_APP_SIGN=your_zego_sign_here
FCM_PROJECT_ID=your-firebase-project-id
